# =========================
# Medical datasets
# =========================
datasets/raw/
datasets/processed/

# =========================
# Experiment outputs
# =========================
results/
outputs/
multirun/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environment
# =========================
.venv/

# =========================
# IDE
# =========================
.vscode/
.idea/